body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background-color: #91939e94;
  background-image: url("./img/hero-bg.jpg");
  background-size: cover;
}

#root {
	display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

#quote-box {
	padding: 40px 40px 80px 40px;
    border: 2px solid black;
    border-radius: 5px;
    width: 480px;
    text-align: center;
    background-image: url("./img/paper2.jpg")
}

#text {
	position: relative;
	padding: 10px 0;
    font-size: 1.7em;
    font-weight: 500;
}
#text :before {
    content: '';
    height: 2px;
    background: black;
    width: 75%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    }

#author {
	position: relative;
	padding: 15px 0;
    font-style: italic;
}

#author :after {
    content: '';
    height: 2px;
    background: black;
    width: 75%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    }

#tweet-quote {
	display: inline-block;
    float: left;
    margin-top: 20px;
    font-size: 1.8em;
    color: #333;
}

#tweet-quote:hover {
	color: #222;
}

#new-quote {
	display: inline-block;
    float: right;
    margin-top: 20px;
    font-weight: 500;
}

.footer {
	padding-top: 10px;
}

.footer a {
	color: #333;
	text-decoration: none;
	font-weight: 500;
}

.footer a:hover {
	color: #222;
	text-decoration: none;
}

.footer a i {
	margin-left: 5px;
}

.footer span {
	margin-right: 5px;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}